<%- include('./partials/header') %>
<%- include('./partials/navbar', { page: "feed" }) %>

<style>
  .masonry {
    column-count: 6; /* Default for desktop */
    column-gap: 16px; /* Gap between columns */
  }
</style>

<div class="frame w-full min-h-screen bg-zinc-900 p-8">
  <div class="cards flex flex-wrap items-start gap-4">
    <% pins.forEach((pin)=>{ %>
        <div class="card pin inline-block w-64 mb-4 rounded-lg bg-[#ffffff80]">
          <div class="image w-full overflow-hidden rounded-lg">
            <img
              class="w-full object-cover object-center"
              src="/images/uploads/<%= pin.imageUrl %>"
              alt="Image"
            />
          </div>
          <h5 class="text-sm px-4 py-3 truncate text-white"><%= pin.title %></h5>
        </div>
    <% }) %>
  </div>
</div>

<%- include('./partials/footer') %>