<%- include('./partials/header') %>
<%- include('./partials/navbar', { page: "profile" }) %>

<% var username = user.username.split(" ").join("_").toLowerCase() %>

<div
  class="profile w-full flex flex-col justify-start pb-10 px-4 min-h-screen bg-zinc-900 text-white"
>
  <form id="ipd-form-1573" hidden action="/fileupload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*" required />
  </form>

  <div class="profileDetails mt-4 flex items-center flex-col">
    <div class="w-32 h-32 m-4 rounded-full relative">
      <span
        id="ipd-edit-1573"
        class="cursor-pointer absolute bottom-0 right-0 w-8 h-8 flex items-center justify-center rounded-full bg-zinc-300 text-zinc-950"
      >
        <i class="ri-pencil-fill"></i>
      </span>
      <img
        class="block w-full h-full object-cover object-center rounded-full"
        src="/images/uploads/<%= user.profileImage %>"
        alt="User Avatar"
      />
    </div>
    <div class="flex flex-col items-center gap-y-1">
      <h2 class="text-xl text-center font-semibold"><%= user.username %></h2>
      <h3 class="text-sm">@<%= username %></h3>
      <p class="text-xs w-2/3 text-center font-normal text-gray-300">
        <!-- User's Bio -->
        <%= user.bio %>
      </p>
      <div class="btns mt-4 flex gap-4 items-center justify-center">
        <a
          href="/edit/"
          class="capitalize text-xs font-semibold px-7 py-2 bg-zinc-600 rounded-full"
        >
          Edit Profile
        </a>
        <a
          href="/add"
          class="px-10 py-2 text-xs font-semibold rounded-lg bg-red-700 text-white"
        >
          Create New Pin
        </a>
      </div>
    </div>
  </div>

  <div class="cards mt-10 flex flex-wrap gap-x-8 gap-y-6">
    
    <% if (user.pins.length > 0) { %>
      <div
      class="card flex flex-col items-center justify-center relative rounded-xl overflow-hidden"
      >
        <div
          class="overlayBox pointer-events-none bg-zinc-50 opacity-5 absolute w-full h-1/2 rounded-b-xl -z-0 bottom-0 left-0"
        ></div>

        <a href="/show/pins">
          <div
            class="flex overflow-hidden box w-52 bg-zinc-700 rounded-xl relative"
          >
            <div class="left w-full h-full">
              <img
                class="w-full h-full object-cover object-center"
                src="/images/uploads/<%= user.pins[0].imageUrl %>"
                alt="<%= user.pins[0].title %> - Image"
              />
            </div>
          </div>
        </a>

        <div
          class="heading flex flex-col w-full justify-between px-4 py-2 relative"
        >
          <h3 class="text-lg text-ellipsis text-nowrap text-start text-white font-semibold w-1/2">
            Your Uploaded Pins
          </h3>

          <h5
            class="text-base text-start text-white font-normal opacity-80 w-1/2"
          >
            <%= user.pins.length %> Pins
          </h5>
        </div>
      </div>
    <% } else { %>
      <div class="w-full flex items-center gap-2 flex-col justify-center h-10">
        <span class="inline-block text-zinc-600">
          You don't have any pins uploaded.
        </span>
        <span class="inline-block text-zinc-600">
          Than let's make a new pin. click Create New Pin.
        </span>
      </div>
    <% } %>
    
  </div>
</div>

<script src="/javascripts/profile.js"></script>

<%- include('./partials/footer') %>
