<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
  </head>
  <body>
    <div
      class="Container relative gap-4 w-full min-h-screen flex items-start justify-center flex-col bg-zinc-300 p-8"
    >
      <div
        class="card w-full py-8 px-6 bg-white rounded-lg flex items-start justify-start flex-col rounded-tr-3xl"
      >
        <div class="profilePicture w-24 h-24 rounded-full relative">
          <img
            class="w-full h-full object-cover object-center rounded-full"
            src="/images/<%= profilePic %>"
            alt="profilePic"
          />
          <a
            href=""
            class="absolute duration-300 cursor-pointer hover:w-7 hover:h-7 hover:top-[-2px] hover:right-[-2px] top-0 right-0 bg-cyan-600 rounded-full w-6 h-6 flex items-center justify-center text-xs hover:text-sm"
            ><i class="ri-pencil-fill text-white"></i
          ></a>
        </div>
        <div class="fullName pt-3 text-xl font-semibold select-none">
          <h4><%= fullName %></h4>
        </div>
        <div class="username cursor-pointer">
          <a href="" class="text-sm font-medium text-blue-500 hover:underline"
            >@<%= username %></a
          >
        </div>
        <% if(tagline) { %>
        <div class="tagline text-sm pt-1 select-none">
          <p><%= tagline %></p>
        </div>
        <% } %>
        <div class="bio text-xs pt-1 select-none">
          <p><%= bio %></p>
        </div>
      </div>
      <div class="pins">
        <div class="pin">
          <img
            class="main"
            src="https://images.unsplash.com/photo-1721232595017-22332c467a0e?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw0OXx8fGVufDB8fHx8fA%3D%3D"
            alt="image"
          />
          <div class="hover-zone">
            <div class="top-bar">
              <a class="bg-zinc-500 text-white">edit</a>
            </div>
            <div class="bottom-bar justify-between">
              <div class="cardTitle py-[6px] px-[14px] pt-[6px] rounded-full bg-white text-black font-bold text-sm">
                All Designs
              </div>
              <div class="radius-ico">
                <img
                  class="ico"
                  src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png"
                />
                <img
                  class="ico"
                  src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="pin">
          <img
            class="main"
            src="https://images.unsplash.com/photo-1465056836041-7f43ac27dcb5?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGxhbmRzY2FwZXxlbnwwfHwwfHx8MA%3D%3D"
            alt="image"
          />
          <div class="hover-zone">
            <div class="top-bar">
              <a class="bg-zinc-500 text-white">edit</a>
            </div>
            <div class="bottom-bar justify-between">
              <div class="cardTitle py-[6px] px-[14px] pt-[6px] rounded-full bg-white text-black font-bold text-sm">
                All Designs
              </div>
              <div class="radius-ico">
                <img
                  class="ico"
                  src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png"
                />
                <img
                  class="ico"
                  src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="pin">
          <img
            class="main"
            src="https://images.unsplash.com/photo-1719937206589-d13b6b008196?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMXx8fGVufDB8fHx8fA%3D%3D"
            alt="image"
          />
          <div class="hover-zone">
            <div class="top-bar">
              <a class="bg-zinc-500 text-white">edit</a>
            </div>
            <div class="bottom-bar justify-between">
              <div class="cardTitle py-[6px] px-[14px] pt-[6px] rounded-full bg-white text-black font-bold text-sm">
                All Designs
              </div>
              <div class="radius-ico">
                <img
                  class="ico"
                  src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png"
                />
                <img
                  class="ico"
                  src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="">
        <div
          class="settings top-8 right-8 text-lg text-white w-10 h-10 absolute rounded-full bg-zinc-700 flex items-center justify-center"
        >
          <i class="ri-settings-fill"></i>
        </div>
      </a>
    </div>
  </body>
</html>
